<!DOCTYPE html>
<html>
<head>
	<title>UI Demo</title>
  {% block site_css %}
  {% endblock %}
  {% block extrahead %}{% endblock %}
</head>
<body
        data-app="{{ request.APP.short }}"
        data-appname="{{ request.APP.pretty }}"
        data-appid="{{ request.APP.id }}"
        data-min-beta-version="{{ settings.MIN_BETA_VERSION }}"
        data-nightly-version="{{ settings.NIGHTLY_VERSION }}"
        data-anonymous="true"
        data-readonly="false"
        data-media-url="{{ MEDIA_URL }}"
        data-paypal-url="/paypal"
        data-default-locale="en-us">
  {% block page %}
  {% endblock page %}

  <script src="{{ static(url('jsi18n')) }}"></script>
  {{ js('common') }}
  {% block js %}{% endblock %}
</body>
</html>
